<div class="text-center">
  <h2>Welcome to Decenscript.</h2>
  <p>Decenscript is a decentralized platform for keeping an always trusted transcript for academic
    institutions using ERC1155 standard (aka. NFT). Each course's grade is minted into an NFT signed with the
  instructors electronics signature and pack an digital signature in the event of attempted attack.</p>
  <p>To start, install Metamask and use <span style="color: lightpink">Polygon Testnet</span>(Chain ID:80001) network. Please add the network <a href="https://mumbai.polygonscan.com/">here</a> </p>
  <button nz-button nzType="primary" (click)="checkUser()">Login with Metamask</button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="MetaMask Missing" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <h2>MetaMask is required to use this application</h2>
      <p>This is a Web3 application which requires the use of MetaMask to run this app. Please install metamask <a
        href="https://metamask.io/download/">here</a>
      </p>
      <p>This application also runs on Polygon testnet(mumbai), please add the network <a href="https://mumbai.polygonscan.com/">here</a>
      after MetaMask is installed</p>
    </ng-container>
  </nz-modal>

</div>


