<div>
  <button nz-button nzType="primary" (click)="showModal();">Join new class</button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Join new Class" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <label for="joinCode">Join Code: </label>
      <input name="joinCode" id="joinCode" nz-input placeholder="Join class code" [(ngModel)]="joinCode" />
    </ng-container>
  </nz-modal>
  <p>
    Showing classes for : {{currentUserAddr}}
  </p>
</div>
<nz-tabset >
    <nz-tab *ngFor="let sem of SEMESTER" nzTitle="{{sem.name}}">
        <nz-table #gradeTable [nzData]="tableData[sem.value]">
            <thead>
              <tr>
                <th>Class Name</th>
                <th>Grade</th>
                <th>BlockID</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of gradeTable.data">
              <td>{{data.className}}</td>
              <td>{{data.grade}}</td>
              <td>
                <a href="">{{data.blockId}}</a>
              </td>
            </tr>
            </tbody>
        </nz-table>
    </nz-tab>
  </nz-tabset>
