<div>
  <button nz-button nzType="primary" (click)="showModal();">Join new class</button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Join new Class" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <label for="joinCode">Join Code: </label>
      <input name="joinCode" id="joinCode" nz-input placeholder="Join class code" [(ngModel)]="joinCode" />
    </ng-container>
  </nz-modal>
  <p>
    Showing classes for : {{currentUserAddr}}
  </p>
</div>
<nz-tabset >
    <nz-tab *ngFor="let sem of SEMESTER" nzTitle="{{sem.name}}">
        <nz-table #gradeTable [nzData]="tableData[sem.value]" nzTemplateMode="true">
            <thead>
              <tr>
                <th>Class Name</th>
                <th>Grade</th>
                <th>Signing Status</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of tableData[sem.value]">
              <td>{{data.className}}</td>
              <td>{{data.grade}}</td>
              <td>
                <span *ngIf="data.txAddr !== undefined">
                  Signed. Token ID: {{data.tokenId}} <a href="{{blockView}}/tx/{{data.txAddr}}">View Tx</a> |
                  <a href="{{blockView}}/token/{{contractAddr}}?a={{data.tokenId}}">View Token</a>
                </span>
                <span *ngIf="data.txAddr === undefined">
                  Signing pending.
                </span>
              </td>
            </tr>
            </tbody>
        </nz-table>
    </nz-tab>
  </nz-tabset>
