<div>
  <a routerLink="/create-class" nz-button nzType="primary">Create new class</a>
</div>
<nz-tabset style="height: 100%" [(nzSelectedIndex)]="selectedSemesterIdx">
  <nz-tab nzTitle="{{sem.name}}" *ngFor="let sem of SEMESTERS" >
    <nz-tabset [(nzSelectedIndex)]="selectedClassIdx"  >
      <nz-tab nzTitle="{{cls.className}}" *ngFor="let cls of tableContent[sem.value]">
        <p>Join Code: {{cls.joinCode}}</p>
    <nz-table #gradeTable [nzData]="cls.students">
      <thead>
        <tr>
          <th>Student Id</th>
          <th>Grade</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stu of gradeTable.data">
          <td>{{stu.name}}</td>
          <td><nz-select [(ngModel)]="stu.grade" [disabled]="stu.txAddr !== null">
            <nz-option nzValue="A" nzLabel="A"></nz-option>
            <nz-option nzValue="A-" nzLabel="A-"></nz-option>
            <nz-option nzValue="B+" nzLabel="B+"></nz-option>
            <nz-option nzValue="B" nzLabel="B"></nz-option>
            <nz-option nzValue="B-" nzLabel="B-"></nz-option>
            <nz-option nzValue="C+" nzLabel="C+"></nz-option>
            <nz-option nzValue="C" nzLabel="C"></nz-option>
            <nz-option nzValue="D" nzLabel="D"></nz-option>
            <nz-option nzValue="F" nzLabel="F"></nz-option>
        </nz-select></td>
          <td>
            <button *ngIf="stu.txAddr === null" nz-button nzType="primary" nzBlock (click)="signGrade(stu.address, stu.grade, stu.classCode)">Sign</button>
            <span *ngIf="stu.txAddr !== null">
              Grade Signed. Token ID: {{stu.tokenId}} |
              Verify <a href="{{blockView}}/tx/{{stu.txAddr}}">Tx</a> and <a href="{{blockView}}/token/{{contractAddr}}?a={{stu.tokenId}}">Token</a> at Etherscan.
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
</nz-tab>
</nz-tabset>
  </nz-tab>
</nz-tabset>
